.collections {
    margin: 120px 0 0 0;
    padding: 0;
    border: 2px solid $primaryColor;
    & &-header {
        @include header(100%, 120px);
        text-align: center;
    }
    & &-filters {
        @include header(100%, 60px);
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        p {
            margin: 0;
        }
    }
    & &-products {
        padding: 50px;
        .product-item {
            @include product(320px, 320px, 83.2%);
        }
        // .product-item:not(:nth-child(3n+0)) {
        //     @include border(border-right);
        // }
    }
    
    & &-add {
        @include border(border-top);
        a {
            @include typography(20px, 500);
        }
    }
}
