.detail {
    height: auto;
    width: 100%;
    margin: 50px 0;
    @include border(border-all);
    &-image {
        width: 50%;
        padding: 30px;
        @include border(border-right);
        img {
            max-width: 360px;
            height: auto;
            box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
        }
    }
    &-info {
        width: 50%;

        &-header {
            @include header(2.4rem);
            padding-left: 20px;
        }
        table {
            width: 100%;
            margin-bottom: 160px;
            tr {
                border-bottom: 1px solid lighten($primaryColor, $amount: 20%);
                td {
                    padding: 20px;
                    p {
                        @include typography(20px, 500);
                    }
                }
            }
            tr.borderless {
                border-bottom: none;
                p.desc-text {
                    max-width: 438px;
                    font-size: 18px;
                    text-transform: none;
                    word-break: break-word;
                }
            }
        }
        .btn-wrapper {
            height: 120px;
            width: 100%;
            @include border(border-top);
            position: absolute;
            bottom: 0;

            button,
            a {
                @include btn-primary(60px, 80%);
                font-size: 1.5em !important;
                margin: 0 auto;
            }
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .detail {
        height: auto;
        width: 100%;
        margin: 50px 0;
        flex-direction: column;
        @include border(border-all);
        &-image {
            @include border(border-bottom);
            border-right: none;
            width: 100%;
            padding: 30px;
            img {
                width: 100%;
                height: auto;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
            }
        }
        &-info {
            width: 100%;
            margin-top: 0;

            &-header {
                @include header(32px, 100%, 70px);
                padding-left: 20px;
            }
            table {
                width: 100%;
                margin-bottom: 90px;

                tr {
                    border-bottom: 1px solid lighten($primaryColor, $amount: 20%);
                    td {
                        padding: 20px;
                        p {
                            @include typography(18px, 500);
                        }
                    }
                }
                tr.borderless {
                    border-bottom: none;
                    p.desc-text {
                        max-width: 438px;
                        font-size: 16px;
                        text-transform: none;
                        word-break: break-word;
                    }
                }
            }
            .btn-wrapper {
                height: 120px;
                width: 100%;
                @include border(border-top);
                position: unset;

                button {
                    @include btn-primary(50px, 80%);
                    font-size: 18px !important;
                    margin: 0 auto;
                }
            }
        }
    }
}
