@mixin typography($size, $weight: 500, $color: $primaryColor) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    text-transform: uppercase;

    // &:hover {
    //     color: lighten(#333, 20%);
    // }
}
@mixin btn-primary($height, $width, $letter-spacing: 0.08em) {
    color: $bg-color;
    background-color: $primaryColor;
    letter-spacing: $letter-spacing;
    padding: 0;
    height: $height;
    width: $width;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border: none;
}

@mixin btn-outlined($height, $width, $font-size: 20px) {
    padding: 0;
    width: $width;
    height: $height;
    letter-spacing: 0.08em;
    border: 1px solid $primaryColor;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    @include typography($font-size, 500);
}

@mixin header($size: 64px, $width: 100%, $height: 120px) {
    width: $width;
    height: $height;
    border-bottom: 1px solid $primaryColor;
    h2 {
        @include typography($size, 500);
        text-transform: uppercase;
        line-height: $height;
        // margin-left: 50px;
    }
    p {
        @include typography($size, 500);
        text-transform: uppercase;
        text-align: center;
    }
}

@mixin product($width: 100%, $height, $btn-width, $padding: 50px, $font-size: 20px) {
    padding: $padding;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
        height: $height;
        width: $width;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    }
    .product-info {
        width: $width;
        padding: 0;
        margin-top: 30px;
        position: unset;

        .product-title {
            display: flex;
            justify-content: space-between;
            p {
                @include typography($font-size, 500);
                text-transform: uppercase;
                margin: 0;
            }
            p:first-child {
                max-width: 70%;
                text-align: left;
            }
        }
        .buttons {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            width: $width;
            a.show-detail {
                @include btn-outlined(50px, $btn-width, $font-size);
            }
            button.cart,
            a.cart {
                @include btn-primary(50px, 50px, 0);
            }
        }
    }
}
// .product-item:not(:last-child) {
//     border-right: 1px solid $primaryColor;
// }

@mixin border($direction) {
    @if $direction == border-right {
        border-right: 1px solid $primaryColor;
    } @else if $direction == border-left {
        border-left: 1px solid $primaryColor;
    } @else if $direction == border-bottom {
        border-bottom: 1px solid $primaryColor;
    } @else if $direction == border-top {
        border-top: 1px solid $primaryColor;
    } @else if $direction == border-all {
        border: 1px solid $primaryColor;
    } @else {
        border: none;
    }
}
